
<div id ="index">
<div class="poster">
  <img src="https://pixabay.com/static/uploads/photo/2012/04/18/13/17/camera-36998_960_720.png">
</div>



<div class="info">

<h1>Let's go to the movies!</h1>

<form action="/search_results">
 
  <input type="text" name="movie" placeholder="Search by movie name" id="inputbox">
  <div id="button">
    <button>I'll get the popcorn</button>
  </div>
</form>

</div>
</div>