
<div class="poster">
  <img src="http://img04.deviantart.net/324f/i/2011/108/d/f/404_movie_poster_by_hiteshsharma88-d3ea2pd.jpg" class="notfound"/>
</div>
<div class="info">
  <h1>Movie not found!</h1>
  <div class="back">
    <a href="/">Search again</a>
  </div>
</div>

