
<div id ="searchresults">

<ul>
<% all_title_matches.each do |movie| %>

<li><a href="/about?movie=<%= movie["Title"] %>">
  <img src="<%= poster(movie["Poster"]) %>"><%= "#{movie["Title"]} (#{movie["Year"]})"  %></a></li>
<% end %>
</ul>

</div>

