body {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #8BCEED;
}

header {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin-bottom: 0;
}


header h1 {
  font-weight: 700;
  font-style: italic;
  line-height: 150px;
  padding-left: 6%;
  z-index: 2;
  position: relative;
  width: 100%;
  color: #D9F2FC;
  font-size: 3em;
}


header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  opacity: 0.9;
}



button {
  background-color: #103474;
  color: white;
  border: 0;
  border-bottom: 2px solid #10161A;
  width: 70%;
  font-size: 1.5em;
  margin-top: 5%;
}



#inputbox {
  height: 30px;
  width: 70%;
  font-size: 1em;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px;
}


#display {
  background-color: white;
  width: 80%;
  margin: 15px auto;
  color: #0E1518;
  min-height: 400px;
  padding: 5%;
}


#index .info {
  padding-top: 7%;
}


.poster {
  display: inline-block;
  width: 35%;
}

.poster img {
  width: 100%;
}

.info {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin-left: 4%;
}

.notfound {
  width: 100%;
}

.back {
  margin-top: 10%;
}

#searchresults li {
  padding: 2px;
  list-style-type: none;
}


span {
  font-weight: bold;
}



